@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

img {
  width: 400px;
  height: 467px;
}

body {
  font-family: 'Roboto', sans-serif;
}
button{
  cursor: pointer;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jogo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1100px;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 600px;
  width: 1100px;
}

.rightBoard {
  display: flex;
  flex-direction: column;
  height: 400px;
  
  align-items: flex-end;
  justify-content: space-between;
}

.letras {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 11px;
  width: 664px;
}

.letra {
  width: 40px;
  height: 40px;
  background: #9FAAB5;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #798A9F;

}

.letra:hover {
  background: #9FAAB5;
  transition: all .3s;
}

.selectWord {
  width: 200px;
  height: 60px;
  background: #27AE60;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
}

.word {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  color: black;
  font-size: 50px;
  line-height: 68px;
  letter-spacing: 10px;
}

.lose {
  color: #FF0000;
}

.win {
  color: #27AE60;
}

.kick {
  width: 100px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #3C76A1;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  background: #9FAAB5;
}

.kickInput{
  width: 353px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}
.kickInput:focus{
  outline: 1px solid #CCCCCC;
}
.kickArea{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottom{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.enabled {
  background: #E1ECF4;
  color: #39739D;
  transition: all .3s;
}

.inputEnabled {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  transition: all .3s;
}